<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- jinja formatting for Flask -->
    <div>{{ data }}</div>

    <!-- fruit dropdown -->
    <select id="fruit" onchange="drawType(this.value)">
        <option selection="selected" value="apples">Apple Chart</option>
        <option value="mango">Mango Chart</option>
        <option value="oranges">Orange Chart</option>
    </select>

    <!-- cost dropdown -->
    <select id="fruitValue" onchange="drawVal(this.value)">
        <option selection="selected" value="1">>$1</option>
        <option value="0.25">>$0.25</option>
    </select>
    
    <!-- plots -->
    <div id="fruitBar"></div>
    <div id="fruitVal"></div>
    
    <!-- scripts -->
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.1.1/d3.min.js"></script>

    <!-- js syntax for Flask -->
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>